@import '../../scss/mixins/breakpoint';

$navBorderStyle: 4px solid #fff;
$selectedBorderW: 6px;

.aboutGallery {
	//overflow-x: scroll;
	overflow: hidden;
	background: #333;

	&__slidesContainer {
		display: inline-flex;
		transform: translateX(0) translateZ(0);
		transition: transform .5s ease-in;
	}

	&__slide {
		width: 100vw;
		height: 85vh;
		display: flex;
		flex: 1;
		position: relative;
		align-items: center;
		justify-content: center;
		overflow: hidden;

		picture, source, img {
			max-width: 100%;

			@include breakpoint(portrait) {
				max-width: auto;
				height: 100%;
			}
		}

		picture {
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}

	&__caption {
		padding: 80px;
		position: absolute;
		background-color: rgba(0, 0, 0, .5);
	}

	/* Navigation styles */
	&__navigation {
		height: 15vh;
		display: flex;
		background: #0ff;
		border-top: $navBorderStyle;
	}

	&__navItem {
		height: 100%;
		flex: 1;
		overflow: hidden;
		position: relative;
		border-left: $navBorderStyle;

		&.selected {
			.hightlight {
				border-width: $selectedBorderW;
			}
		}

		&:hover {
			.hightlight {
				background-color: rgba(0, 0, 0, .4);
				border-width: $selectedBorderW;
			}

			.navName {
				top: 0;
				//opacity: 1;
			}
		}

		&:first-child {
			border-left: none;
		}

		@include breakpoint(landscape) {
			width: 100%;
			height: auto;
		}

		.hightlight {
			width: 100%;
			height: 100%;
			position: absolute;
			background-color: transparent;
			border: 0 solid #aaa;
			transform: perspective(1px) translateZ(0);
			transition: all .2s ease-in;
		}

		.navName {
			width: 100%;
			height: 100%;
			top: 100%;
			padding: 12px;
			display: flex;
			align-items: center;
			justify-content: center;
			position: absolute;
			//opacity: 0;
			transform: perspective(1px) translateZ(0);
			transition: top .2s ease-in;
		}

		picture, source, img {
			max-width: 100%;

			@include breakpoint(portrait) {
				max-width: auto;
				height: 100%;
			}
		}
		picture {
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}
}













