@import 'mixins/pxToEm';
@import 'mixins/pxToRem';
@import 'mixins/fontSize';
@import 'mixins/breakpoints';

* {
	box-sizing: border-box;
}

figure,
body,
html {
	margin: 0;
}

.page {
	padding: 30px $pagePaddingH-mobile;

	@include desktop-up {
		padding: 30px $pagePaddingH;
	}
}

form {
	max-width: 400px;
}

input,
select, option {
	width: 100%;
	margin-bottom: 12px;
	padding: 7px 18px;
	font-size: 18px;
	display: block;
}
.formSubmit {
	width: 100%;
	padding: 10px; 
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	border: none;
	background-color: #b1802c;

	&:hover {
		background-color: #1c4577;
	}
}



.faqNode {
	height: 62px;
	margin-bottom: 20px;
	padding: 20px;
	position: relative;
	overflow-y: hidden;
	cursor: default;
	background-color: #eee;
	transition: height .3s ease-in;

	p {
		cursor: inherit;
	}

	&.active {
		height: auto;
	}

	&::before {
		content: '';
		top: 50%;
		right: 20px;
		padding: 3px;
		display: inline-block;
		position: absolute;
		border: solid black;
		border-width: 0 3px 3px 0;
		transform: rotate(-45deg) translateY(-50%);
	}

	&__question {
		
	}

	&__answer {
		margin: 20px 0 0;
	}
}


.miniNav {
	width: 100%;
	height: 40px;
	padding: 30px $pagePaddingH-mobile;
	text-align: center;
	display: flex;
	justify-content: space-between;
	align-items: center;
	align-content: center;

	@include desktop-up {
		padding: 30px $pagePaddingH;
	}

	a {
		flex: 1;
		display: block;
	}
}


























