$filePath: '../../fonts';


@font-face {
	font-family: 'open_sansregular';
	src: url(#{$filePath}/OpenSans-Regular-webfont.woff) format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'open_sansbold';
	src: url(#{$filePath}/OpenSans-Bold-webfont.woff) format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'open_sansbold_italic';
	src: url(#{$filePath}/OpenSans-BoldItalic-webfont.woff) format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'open_sansextrabold';
	src: url(#{$filePath}/OpenSans-ExtraBold-webfont.woff) format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'open_sansextrabold_italic';
	src: url(#{$filePath}/OpenSans-ExtraBoldItalic-webfont.woff) format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'open_sansitalic';
	src: url(#{$filePath}/OpenSans-Italic-webfont.woff) format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'open_sanslight';
	src: url(#{$filePath}/OpenSans-Light-webfont.woff) format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'open_sanslight_italic';
	src: url(#{$filePath}/OpenSans-LightItalic-webfont.woff) format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'open_sanssemibold';
	src: url(#{$filePath}/OpenSans-Semibold-webfont.woff) format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'open_sanssemibold_italic';
	src: url(#{$filePath}/OpenSans-SemiboldItalic-webfont.woff) format('woff');
	font-weight: normal;
	font-style: normal;
}



































