@import '../../scss/mixins/breakpoint';

$squareDimension: 100px;
$panelPaddingH: 4vh;
$panelPaddingW: 4vw;
$panelPaddingDesktopH: calc(#{$panelPaddingH * 2});
$panelPaddingDesktopW: calc(#{$panelPaddingW * 4});


#Intro {
	//background-color: #666;
	background: url('/images/forex-chart.jpg') center no-repeat;
	background-size: cover;
}

#BusinessStrategy {
	///
	background: url('/images/strategy.jpg') center no-repeat;
	background-size: cover;
}

#Partnerships {
	background: url('/images/partnerships.jpg') center no-repeat;
	background-size: cover;
}

#CompetitiveEdge {
	background: url('/images/trading-tools.jpg') center no-repeat;
	background-size: cover;
}

#BullionTradeManagement {
	background-color: #d1afd1;
}

#AboutUs {
	background-color: #c5d1af;
}

.panel {
	width: 100vw;
	min-height: 100vh;
	padding: $panelPaddingH $panelPaddingW;
	color: #fff;
	text-shadow: 0px 0px 6px rgba(0, 0, 0,1);
	/* display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center; */
	background-color: #666;

	&__areaWrap {
		height: calc(100vh - #{$panelPaddingH * 2});
		position: relative;

		@include breakpoint(desktop) {
			height: calc(100vh - #{$panelPaddingDesktopH} * 2);
		}
	}

	.node:nth-child(odd) {
		background-color: fff;
	}

	@include breakpoint(desktop) {
		padding: $panelPaddingDesktopH $panelPaddingDesktopW;
	}
}

.contentSpace {
	width: 100%;
	min-height: $squareDimension;
	text-align: center;
	font-size: em(26px);	

	@include breakpoint(tablet) {
		font-size: em(40px);
	}
	//background-color: #000;

	/* &:nth-child(odd) {
		background-color: fff;
	} */

	h2 {
		margin-bottom: em(4px);

		@include breakpoint(tablet) {
			text-align: left;
		}
	}
	p {
		margin: 0;
	}

	&.top {
		//font-size: em(40px);
	}
	&.bottom {
		bottom: 2px;
		position: absolute;
	}

	[itemprop="headline"] {
		font-size: $font-size--xl;
		font-weight: bold;
	}
}










