@import '../../scss/mixins/breakpoint';

$squareDimension: 100px;
$panelPaddingH: 4vh;
$panelPaddingW: 4vw;
$panelPaddingDesktopH: calc(#{$panelPaddingH * 2});
$panelPaddingDesktopW: calc(#{$panelPaddingW * 4});

/* Panel class */
.panel {
	width: 100vw;
	min-height: 100vh;
	padding: $panelPaddingH $panelPaddingW;
	color: #fff;
	text-shadow: 0px 0px 6px rgba(0, 0, 0,1);
	/* display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center; */
	background-color: #666;
	background-size: cover;

	&__cta {
		margin-top: 30px;
		padding: 12px 26px;
		color: #fff;
	    overflow: hidden;
		border-radius: 50px;
		border: 3px solid #fff;
		background-color: rgba(0, 0, 0, .3);

		&:before {
			background-color: #000;
		}

		&.main {
			//color: #333;
		}
	}

	&__areaWrap {
		height: calc(100vh - #{$panelPaddingH * 2});
		position: relative;

		@include breakpoint(desktop) {
			height: calc(100vh - #{$panelPaddingDesktopH} * 2);
		}
	}

	/* .node:nth-child(odd) {
		background-color: fff;
	} */

	@include breakpoint(desktop) {
		padding: $panelPaddingDesktopH $panelPaddingDesktopW;
	}
}

/* Panel class ID overrides */
#Intro {
	//background-color: #666;
	background: url('/images/forex-chart.jpg') center no-repeat;
	background-size: cover;
}

#BusinessStrategy {
	///
	background: url('/images/strategy.jpg') center no-repeat;
	background-size: cover;
}

#Partnerships {
	background: url('/images/partnerships.jpg') center no-repeat;
	background-size: cover;
}

#CompetitiveEdge {
	background: url('/images/trading-tools.jpg') center no-repeat;
	background-size: cover;
}

#BullionTradeManagement {
	background: url('/images/bullionTrade.jpg') center no-repeat;
}

#AboutUs {
	//padding: $panelPaddingH 0;
	padding: 0;
	background-color: #000;

	.panel__areaWrap {
		height: 100vh;
		position: relative;

		@include breakpoint(desktop) {
			height: 100vh;
		}
	}
}

#ContactForm {
	background: url('/images/contactUsBG.jpg') top center no-repeat;
	background-size: cover;
}

.ReactModal {
	&__Overlay {
		h3 {
			margin-top: 40px;
			font-size: 20px;
			line-height: normal;

			&:first-child {
				margin-top: 10px;
			}
		}

		p {
			font-size: 14px;
		}
	}
}

.contentSpace {
	width: 100%;
	min-height: $squareDimension;
	text-align: center;
	font-size: em(26px);	

	@include breakpoint(tablet) {
		font-size: em(40px);
	}
	//background-color: #000;

	/* &:nth-child(odd) {
		background-color: fff;
	} */

	h2 {
		margin-bottom: em(4px);

		@include breakpoint(tablet) {
			text-align: left;
		}
	}
	p {
		margin-bottom: 1em;

		:first-child {
			margin: 0;
		}
	}

	&.top {
		//font-size: em(40px);
	}
	&.bottom {
		bottom: 2px;
		position: absolute;
	}

	[itemprop="headline"] {
		font-size: $font-size--xl;
		font-weight: bold;
	}
}










