// Variables, mixins and functions
@import 'scss/vars';

// Bond Styleguide files
@import 'node_modules/bootstrap/scss/bootstrap';


// Bases styles, resets and dependencies
@import 'scss/base';

// Utility Styles


// Typography
@import 'scss/typography';

// Page Specific Styles
@import 'examplePages/animationPage/animationPage';
@import 'examplePages/flexboxPage/flexboxPage';
//@import 'examplePages/canvasPage/canvasPage';


// Global Page Components: Header, footer, navigations, etc...
@import 'components/header/header';
@import 'components/footer/footer';
@import 'components/mainNav/mainNav';

// App Components









