// Variables, mixins and functions
@import 'scss/vars';
@import 'scss/mixins/breakpoint';

// Fonts
@import 'scss/fonts';

// Bases styles, resets and dependencies
@import 'scss/normalize';
@import 'scss/base';

// Typography
@import 'scss/typography';

// Page Specific Styles
@import 'pages/animationPage/animationPage';
@import 'pages/flexboxPage/flexboxPage';


// Global Page Components: Header, footer, navigations, etc...
@import 'components/header/header';
@import 'components/footer/footer';

// App Components
@import 'components/panel/panel';
@import 'components/AboutSlider/aboutSlider';








