/**
 * CSS Animation Property (Short Hand)
 * animation: [animation-name] [animation-duration] [animation-timing-function] [animation-delay] [animation-iteration-count] [animation-direction] [animation-fill-mode] [animation-play-state]; 
 *
 * CSS Animation Properties example (Individual)
 * animation-name: sunrise;
  animation-duration: 10s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: 2;
  animation-direction: normal;
  animation-play-state: running;
  animation-fill-mode: forwards
**/

/** 
 * Keyframe Animation Mixins

	Usage Example:
	@include keyframes(move-the-object) {
		0%   { left: 100px; }
		100% { left: 200px; }
	}

	.object-to-animate {
		include animation('move-the-object .5s 1', 'move-the-object-again .5s 1 .5s');
	}
**/
@mixin keyframes($animationName) {
	@-webkit-keyframes #{$animationName} {
		@content;
	}
	@-moz-keyframes #{$animationName} {
		@content;
	}
	@-o-keyframes #{$animationName} {
		@content;
	}
	@keyframes #{$animationName} {
		@content;
	}
}

@mixin animation($animate...) {
	$max: length($animate);
	$animations: '';

	@for $i from 1 through $max {
		$animations: #{$animations + nth($animate, $i)};

		@if $i < $max {
			$animations: #{$animations + ", "};
		}
	}
	-webkit-animation: $animations;
	-moz-animation:    $animations;
	-o-animation:      $animations;
	animation:         $animations;
}

